.game-logo {
  padding-top: 3rem;
}

h1 {
  font-size: 3rem;
  margin: 0px auto;
  font-weight: 300;
}

p {
  font-size: 1rem;
  margin: 0px 25px;
}

#tag-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

hr {
  border: none;
  width: 7%;
  height: 0px;
  border-top: 1.5px solid;
  margin: 0px;
}
