.header-section {
  display: flex;
  justify-content: space-between;
  color: #ff5155;
  padding: 2rem 7rem 2rem 2rem  ;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header-section p{
  margin-bottom: 1rem
}