.stopGame-section {
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: 3rem;

  h2 {
    cursor: pointer;
    font-weight: 300;
    margin-left: 1rem;
  }
}
