.word-section h1 {
  font-size: 3rem;
  color:#ffffff
}

.word-section input {
  width: 30%;
  padding: 10px 15px;
  opacity: 0.59;
  border-radius: 10px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  margin-top: 1rem;
}
.green{
  color: green
}
.red{
  color: red;
}

.white{
  color: white;
}