.endPage-body {
  border: 3px solid;
  margin: auto 33%;
  border-radius: 10px;
}
.score-display {
  color: white;
  margin: 2rem;
  margin-bottom: 1.5rem;
  h2 {
    font-size: 2.5rem;
    font-weight: 200;
  }
  h1 {
    font-size: 3rem;
  }
}

.playAgain-section {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 100;
  }
}

.quit-section {
  margin-left: 3rem;
  margin-top: 6rem;
  text-align: left;
  cursor: pointer;
  h2 {
    font-size: 2rem;
    font-weight: 100;
  }
}
